<div class="container">
    <div class="botton-container">
        <app-button text="Nuevo Conductor" color="primary" type="submit" [disabled]="false" (click)="goToNewDriverForm()"></app-button>
    </div>
    <app-paginated-table [dataSource]="data" [displayedColumns]="displayedColumns" [columnLabels]="columnLabels"
        [totalElements]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex" [isLoading]="isLoading"
        (pageChange)="onPageChange($event)" [actionButtons]="actionButtons" (actionClick)="onTableAction($event)"
        [actionsEnabled]="true">
    </app-paginated-table>
</div>