<div *ngIf="!isLoading else loading">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>
                {{ columnLabels[column] || column | titlecase }}
            </th>
            <td mat-cell *matCellDef="let row">
                <ng-container *ngIf="column !== 'actions'; else actionTemplate">
                    {{ row[column]}}
                </ng-container>
                <ng-template #actionTemplate>
                    <ng-container *ngIf="actionsEnabled">
                        <button 
                           *ngFor="let btn of actionButtons"
                           mat-icon-button
                           [matTooltip]="btn.tooltip"
                           (click)="handleActionClick(btn.action,row)"
                        >
                        <mat-icon>{{ btn.icon }}</mat-icon>
                    </button>
                    </ng-container>
                </ng-template>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex"
        [pageSizeOptions]="[5,10,20,50]" (page)="pageChange.emit($event)">
    </mat-paginator>
</div>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>